<section class="sw-bg-willow dark:bg-slate-800 not-prose">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-lg text-center font-medium">
    Here’s to the Healthcare you Deserve<br/>Naturopathic Medicine for Digestion, Menstrual and Menopause Health
  </div>
</section>
