<section class="sw-bg-color-dusk dark:bg-slate-800 not-prose">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-2xl text-center font-medium sw-color-mist font-semibold pb-10 pt-10">
    You're always taking care of others, but who's taking care of you?
    <!-- Here’s to the Healthcare you Deserve<br/>Naturopathic Medicine for Digestion, Menstrual and Menopause Health -->
  </div>
</section>
