---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import { Icon } from 'astro-icon/components';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import { getPermalink } from '../utils/permalinks';

import localStockImage1 from '../assets/images/sydney-whitten-stock-1.jpg';
import localStockImage2 from '../assets/images/sydney-whitten-stock-2.jpg';
import localStockImage3 from '../assets/images/sydney-whitten-stock-3.jpg';
import swProfilePhoto from '../assets/images/sw-profile-photo.jpg';

const metadata = {
  title: 'Sydney Whitten - Naturopathic Medicine for Digestion, Menstrual and Menopause Health',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero>
    <Fragment slot="title">
      You’re always taking care of others,<br/>but who’s taking care of you?
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <!-- <Features
    id="features"
    tagline="Features"
    title="What you get with AstroWind"
    subtitle="One of the most professional and comprehensive templates currently on the market. Most starred & forked Astro theme in 2022, 2023 and 2024."
    items={[
      {
        title: 'Astro + Tailwind CSS Integration',
        description:
          'A seamless integration between two great frameworks that offer high productivity, performance and versatility.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Ready-to-use Components',
        description:
          'Widgets made with Tailwind CSS ready to be used in Marketing Websites, SaaS, Blogs, Personal Profiles, Small Business...',
        icon: 'tabler:components',
      },
      {
        title: 'Best Practices',
        description:
          'Creating secure, efficient, and user-friendly websites that deliver exceptional experiences and lasting value.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Excellent Page Speed',
        description:
          'Having a good page speed impacts organic search ranking, improves user experience (UI/UX) and increase conversion rates.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Search Engine Optimization (SEO)',
        description:
          "SEO lies in its ability to enhance a website's visibility, driving organic traffic and enabling it to reach a wider audience.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Open to new ideas and contributions',
        description:
          'Embracing a culture that is open to new ideas and contributions is integral fostering innovation, collaboration, and a dynamic user experience.',
        icon: 'tabler:bulb',
      },
    ]}
  /> -->

  <!-- Content Widget **************** -->

  <Content
    tagline=""
    title=""
    items={[
      {
        title: 'Grinding away at school/work to build your dream future.',
        description:
          '',
      },
      {
        title: 'Being the “go-to gal” who everyone can always count on.',
        description:
          '',
      },
      {
        title: 'Juggling the roles of caregiver, nurturer, and supporter of the ones you love.',
        description:
          '',
      },
      {
        title: 'AND somehow still balancing your family, friends, finances, work, and everything else life throws at you.',
        description:
          '',
      },
    ]}
    image={{
      src: localStockImage3,
      alt: '',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight sm:text-3xl">I see you out there,</h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isFullWidth={true}
    items={[
      {
        title: 'Your <strong>hormonal mood changes</strong>',
        description: `(I’m looking at you <strong>PMS</strong> and <strong>Menopause</strong>) leave you almost unable to recognize yourself. You’re moody, tired, and just want to hide away!`,
      },
      {
        title: 'Your <strong>irregular periods</strong> are more than inconvenient',
        description:
          'they bring anxiety, fear around future fertility, and a whole lot of “what the heck is happening with my hormones?”',
      },
      {
        title: 'Your <strong>painful periods</strong> are debilitating',
        description:
          "leaving you curled up in a ball, frustrated, and missing out on day-to-day activities.",
      },
      {
        title: '<strong>Gas & bloating</strong> has brought your stretchy pants to the forefront of your closet.',
        description:
          'You’ve tried all of the tik tok trends, quick fix suggestions, and yet, you’re still suffering!',
      },
      {
        title: '<strong>Constipation</strong> not only weighs on you physically, but also weighs on your self-esteem and mood.',
        description:
          ' You feel sluggish, frustrated, and simply... stuck.',
      },
      {
        title: '<strong>Digestive symptoms</strong> have made food less enjoyable.',
        description:
          'Dinners out with friends, which were once exciting, instead bring anxieties around “what’s safe to eat and where’s the nearest washroom”.',
      },
      {
        title: '<strong>Perimenopause and Menopause</strong> feels like one big, never-ending rollercoaster',
        description:
          '<strong>hot flashes, sleep disturbances, exhaustion, mood swings, bladder troubles</strong>... you just want to step off this ride and feel like your old self again.',
      },
    ]}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-normal sm:text-3xl mb-2">But, I also know that deep down there is more to your story. Specifically your health story.</h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 sw-bg-color-willow bg-[url(bg-texture.jpg)] bg-no-repeat bg-cover bg-right"></div>
    </Fragment>
  </Content>

  <section class="mt-20 mb-20 not-prose">
    <div class="sw-color-nettle max-w-6xl mx-auto px-4 sm:px-6 py-4 text-2xl text-center font-medium leading-normal tracking-normal">
      <strong>Sound relatable?</strong><br/>It’s time to put yourself, and your health, first. Because the last thing you want, is for your health to hold you back.
    </div>
  </section>

  <Content
    id="about"
    columns={3}
    isReversed
    image={{
      src: swProfilePhoto,
      alt: 'Sydney Whitten Profile Photo',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-normal sm:text-3xl mb-5"><a class="sw-color-fern hover:sw-color-nettle hover:underline" href={getPermalink('meet-sydney')}>Hey, I'm Sydney!</a></h2>
      <p>
        Naturopathic Medical Student, with a special interest in Menstrual Health, Menopause, and Digestive Wellness.
      </p>
      <br />
      <p>
        You’re fed up, and I get it! Whether you're facing wonky periods, digestive issues that seem unresolvable, or riding the Menopause rollercoaster. You don’t feel like yourself, and it’s HARD to find help that you trust.
      </p>
      <br />
      <p>As a Naturopathic Student I can’t provide you care quite yet. However, my eventual mission is to provide you the time and space to share your story, and to use the best evidence and tools available to help you overcome these health challenges. So that you can show up feeling comfortable, confident, and like your best-self each day. 
        It’s time to get you, feeling like YOU again.</p>
      <p class="mt-5"><a href={getPermalink('meet-sydney')} class="sw-color-fern hover:sw-color-nettle hover:underline">read my bio <Icon name="tabler:circle-arrow-right" class="w-5 h-5 inline-block -mt-0.5" /></a></p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 sw-bg-color-mist"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <!-- <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Enhanced user engagement',
        description:
          'Captivate your audience with interactive elements, intuitive navigation, and visually appealing layouts, encouraging longer visits.',
      },
      {
        title: 'Continuous improvement',
        description:
          'Ensure your website stays aligned with the latest trends and technologies through regular updates and enhancements.',
      },
      {
        title: 'Time and resource efficiency',
        description:
          'Skip the time-consuming process of building a website from scratch and launch your online presence sooner with AstroWind.',
      },
      {
        title: 'Community support',
        description: `Join the growing AstroWind community for insights, resources, and assistance, ensuring you're never alone on your web development journey.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">Designed to foster growth and success.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content> -->

  <!-- Steps Widget ****************** -->

  <!-- <Steps
    title="Get your dream website up and running in no time with AstroWind."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Download</span>',
        description:
          "Kickstart with GitHub! Either fork the AstroWind template or simply click 'Use this template'. Your canvas awaits, ready for your digital masterpiece. In just a few clicks, you've already set the foundation.",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Add content</span>',
        description:
          "Pour your vision into it. Add images, text, and all that jazz to breathe life into your digital space. Remember, it's the content that tells your story, so make it captivating.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Customize styles</span>',
        description:
          'Give it your personal touch. Tailor colors, fonts, and layouts until it feels just right. Your unique flair, amplified by AstroWind! Precision in design ensures a seamless user experience.',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  /> -->

  <!-- Features2 Widget ************** -->

  <Features2
    id="health-concerns"
    title="Your Health Concerns"
    subtitle="Get the relief you deserve"
    tagline=""
    items={[
      {
        title: 'Menstrual Health',
        description:
          "<ul><li>Irregular Periods</li><li>Heavy periods</li><li>Painful periods</li><li>Premenstrual syndrome (PMS)</li><li>Polycystic Ovarian Syndrome (PCOS)</li><li>Endometriosis</li><li>Female Pelvic Examinations & PAP tests</li></ul>",
        icon: 'healthicons:female-reproductive-system-outline',
        classes: {'panel': 'sw-bg-color-ember sw-color-mist'}
      },
      {
        title: 'Perimenopause & Menopause',
        description:
          '<ul><li>Hot Flashes & Night sweats</li><li>Mood swings</li><li>Low energy</li><li>Sleep disturbances</li><li>Weight Gain</li><li>Vaginal dryness</li><li>Bladder Incontinence</li></ul>',
        icon: 'tabler:circle-dotted-letter-m',
        // icon: 'healthicons:female',
        classes: {'panel': 'sw-bg-color-dusk sw-color-mist'}
      },
      {
        title: 'Digestive Health',
        description: "<ul><li>Gas & Bloating</li><li>Constipation</li><li>Diarrhea</li><li>IBS</li><li>Gut Dysbiosis/SIBO</li><li>Reflux</li></ul>",
        icon: 'healthicons:colon-outline',
        classes: {'panel': 'sw-bg-color-forest sw-color-mist'}
      }
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <section class="not-prose sw-bg-color-mist">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 py-20 text-lg font-medium">
      <h2 class="text-2xl font-semibold pb-3">Imagine a life where:</h2>
      <p class="text-xl py-3 sw-color-ember"><Icon name="tabler:corner-down-right" class="w-5 h-5 inline-block -mt-1.5 sw-color-ember" /> The burden of your monthly cycle has lifted- leaving you feeling more comfortable, confident, and able to function your best all month long.</p>
      <p class="text-xl py-3 sw-color-dusk"><Icon name="tabler:corner-down-right" class="w-5 h-5 inline-block -mt-1.5 sw-color-dusk" /> The ups and downs of the Menopause rollercoaster start to stabilize, allowing you to feel refreshed, balanced in your mood and emotions, and more like yourself again.</p>
      <p class="text-xl py-3 sw-color-forest"><Icon name="tabler:corner-down-right" class="w-5 h-5 inline-block -mt-1.5 sw-color-forest" /> After a long day of eating, the state of your digestion doesn’t even cross your mind.</p>
    </div>
  </section>

  <!-- HighlightedPosts Widget ******* -->

  <!-- <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  /> -->

  <!-- FAQs Widget ******************* -->

  <!-- <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why AstroWind?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  /> -->

  <!-- Stats Widget ****************** -->

  <!-- <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  /> -->

  <!-- CallToAction Widget *********** -->

  <!-- <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Astro&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tailwind CSS</span>
    </Fragment>

    <Fragment slot="subtitle">
      Be very surprised by these huge fake numbers you are seeing on this page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment>
  </CallToAction> -->
</Layout>
